@import 'colors';
@import 'animate';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 66px;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: $first-color;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.favico {
    margin-top: 20px;
    font-size: 30px;
}

.card-title {
    text-transform: uppercase;
}

.card-text {
    font-size: 16px;
}

.underline {
    width: 120px;
    height: 4px;
    margin: 20px auto 20px;
    background-color: $second-color;
}

.yellow {
    color: $second-color;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, 0.8);

}

// navigation

nav {
    font-size: 26px;
    transition: background-color .3s;
    width: 100%;
    z-index: 1;

    a,
    button {
        color: $first-color;
        text-transform: uppercase;
    }

    a:hover {
        color: $second-color;
    }

    .fa-bars {
        padding: 10px;
    }

    .active {
        color: $second-color;
    }
}

//header

header {
    color: $first-color;


    h1 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }

    .hero-img {
        position: relative;
        height: 100vh;
        background-image: url("../img/header-sml1.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        z-index: 0;
    }

    .hero-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -2;
    }
     
    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        z-index: 5;

    }
    
    .fa-chevron-down {
        color: $first-color;
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 30px;
    }

    .btn-outline-light {
        color: $first-color;
        border: 1px solid $first-color;
    }

    .btn-outline-light:hover {
        color: $second-color;
        border: 1px solid $second-color;
        background-color: transparent;
    }
}

// main

//section my story

.mystory {
    .justify {
        text-align: justify;
    }

    .card-text {
        color: $first-color
    }

    .skillset {
        margin: 30px auto;
    }

    .skillset-hover {
        transition: color 0.3s;
    }

    .skillset-hover:hover {
        color: $second-color;
    }

    .mystory-hero {

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        background-image: url("../img/mystory-lrg.jpg");
        background-position: center;
        background-size: cover;
        z-index: 0;

        .mystory-shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: -1;
        }

        h2 {
            color: $first-color;
        }

        span {
            font-size: smaller;
            color: $second-color;
        }
    }
}

// section projects


.projects {
    h2 {
        color: $first-color;
    }

    .carousel-item {
        position: relative;
        height: 600px;
    }

    .carousel-caption {
        color: $second-color;
        position: absolute;
        left: 0;
        right: 0;
        padding: 40px 0;
        background-color: rgba(0, 0, 0, 0.8);

        h5 {
            font-size: 26px;
        }

        p {
            font-size: 20px;
        }
    }

    .carousel-indicators {
        padding-bottom: 10px;
    }

    .carousel-control-prev-icon {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

// section tools

.tools {
    .tools-hero {
        position: relative;
        background-image: url("../img/tools-sml.jpg");
        background-attachment: fixed;
        height: 100px;
    }

    .tools-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

// section cooking


.cooking  {
    position: relative;
    background-image: url(../img/cooking-lrg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $first-color;


}


// section contact

.contact {
    color: $first-color;

    h3 {
        color: $second-color;
    }

    i {
        color: $first-color;
    }
}

// media queries


@media(min-width: 375px) {
    header {
        h1 {
            font-size: 42px;
        }

        p {
            font-size: 20px;
        }
    }

    .mystory {
        h2 {
            font-size: 28px;
        }

        .card-title {
            font-size: 20px;
        }

        .card-text {
            font-size: 18px;
        }
    }
}

@media(min-width: 576px) {
    .favico {
        font-size: 36px;
    }
}

@media(min-width: 768px) {
    .favico {
        font-size: 40px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 20px;
    }

    header {
        h1 {
            font-size: 52px;
        }

        p {
            font-size: 24px;
        }
    }

    .mystory {
        h2 {
            font-size: 34px;
        }

        .card-title {
            font-size: 24px;
        }

        .card-text {
            font-size: 22px;
        }
    }

    .mystory-hero {
        h2 {
            font-size: 40px;
        }
    }
}

@media(min-width: 992px) {
    nav {
        height: 66px;
    }
}

@media(min-width: 1024px) {
    .favico {
        font-size: 50px;
    }

    header {


        h1 {
            font-size: 76px;
        }

        p {
            font-size: 24px;
        }
        .fa-chevron-down {
            font-size: 50px;
        }
    }

    .tools {

        .tools-hero {
            background-image: url("../img/tools.jpg");
        }
    }
    

    }




    @media(min-width: 1200px) {
 

        header {
            .hero-img {
                background-image: url("../img/header-lrg1.jpg");
            }
        }

        main {
            .mystory-hero {
                background-image: url("../img/mystory-lrg.jpg");
            }
        }
 }